{
   "extends": ["./node_modules/@toba/develop/.eslintrc"],
   "rules": {
      "no-param-reassign": "off",
      "prefer-destructuring": "off"
   },
   "env": {
      "node": false,
      "browser": true
   }
}
